<style>
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('{{site.url}}{{site.baseurl}}/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="lead"><em>Brought to you by <span style="color: #f69801"><a href="https://sozolab.jp/"><strong>Sozolab</strong></a></span></em></p>
  <p class="jumbotron-heading" id="typewriteText"></p>
  <span>
    {%- include github_follow_button.html -%}
  </span>
</div>
