<style>
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('{{site.url}}{{site.baseurl}}/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
.jumbotron p {
  text-align: center;
}
</style>

<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <div class="main-container">
      <p style="filter: drop-shadow(.07em .07em #000);" class="jumbotron-heading" id="typewriteText"></p>
      <h1 class="no-line">
          <strong style="color: #fff; filter: drop-shadow(.07em .07em #111);">
            Activity Recognition of Nurse Training Activity using Skeleton and Video Dataset with Generative AI
          </strong>
      </h1>
      <p style="filter: drop-shadow(.07em .07em #111);" class="lead">
        <em>
          Brought to you by <a href="https://sozolab.jp/"><strong style="color: #f69801">Sozolab</strong></a> in conjunction with <a href="https://autocare.ai/abc2024"><strong style="color: #f69801">ABC</strong></a>
        </em>
      </p>
      <p class="jumbotron-heading">
        <strong style="filter: drop-shadow(.07em .07em #111);">
          <span style="color: #2dc937">Registration is now open! </span><span style="color: #cc3232">Deadline: March 6, 2024 (AoE)</span>
        </strong>
      </p>
      <p class="jumbotron-heading">
        <a style="text-decoration: none; border: 0.2px solid #2f3439; padding: 5px 10px; background: #1a1e23; border-radius: 3px;" href="https://docs.google.com/forms/d/e/1FAIpQLSctXaZJvL0oEN6BDLrbvu6IZ1tdPtU9ZWrtnC5w8i0tdZL8Mg/viewform?usp=sf_link"><span style="color: #f69801; filter: drop-shadow(.03em .03em #f69801);">REGISTER</span></a>
      </p>
      <span>
        {%- include github_follow_button.html -%}
      </span>
  </div>
</div>
