<style>
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('{{site.url}}{{site.baseurl}}/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
.jumbotron p {
  text-align: center;
}
</style>

<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <div class="main-container">
      <h1 class="no-line">
          <strong style="color: #fff">
            Activity Recognition of Nurse Training Activity using Skelton and Video Dataset with Generative AI
          </strong>
      </h1>
      <p class="lead">
        <em>
          Brought to you by<a href="https://sozolab.jp/"><strong>Sozolab</strong></a>
        </em>
      </p>
      <p class="jumbotron-heading" id="typewriteText"></p>
      <span>
        {%- include github_follow_button.html -%}
      </span>
  </div>
</div>
